html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.title {
    padding-top: 3rem;
    font-size: 3.5rem;
    text-align: center;
}

.flex {
    display: flex;
    padding-bottom: 4rem;
}

.first {
    background-color: #2C8D7E;
}

.second {
    background-color: #2C8D7E;
}

.second h2 {
    color: #2A7C6F;
    -webkit-text-stroke: 2px #fff;
}

.v-row {
    padding-top: 6rem;
}

.v {
    padding-bottom: 3rem;
}

.v-card {
    margin: 0 5rem;
}

.v-img {
    border-radius: 10rem;
    transition: transform 1s, filter 3s ease-in;
}

.con {
    padding: 2rem;
}

.txt1 {
    font-size: 2rem;
    color: #2A7C6F;
    font-weight: 900;
    -webkit-text-stroke: 2px #fff;
    position: relative;
    bottom: 15rem;
}

.v-card:hover img {
    transform: scale(1.1);
}


.third {
    background-image: url(img/bg/bg2.png);
    background-size: cover;
}

.third .top {
    background-image: url(img/top/top1.png);
    background-size: cover;
    height: 27vh;
}

.third h2 {
    color: #fff;
    -webkit-text-stroke: 2px #2A7C6F;
    padding-top: 2rem;
}

.info {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem 5rem;
    margin: 0 15rem;
    color: #2A7C6F;
    font-weight: 600;
    text-align: justify;
}

.space {
    height: 2rem;
}

.fourth .top {
    background-image: url(img/top/top2.png);
    background-size: cover;
    height: 34vh;
}

.title2 {
    padding: 2rem 0;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 2px #2A7C6F;
}

.title2 span {
    padding-top: 2rem;
}

.f1 {
    margin: 0 2rem;
    text-align: justify;
    width: 50%;
    color: #2A7C6F;
    font-weight: 500;
}

.f2 {
    margin: 0 2rem;
    text-align: justify;
    width: 50%;
    padding-top: 2.5rem;
    color: #2A7C6F;
    font-weight: 500;
}

.fifth {
    background-image: url(img/bg/bg3.gif);
    background-size: cover;
}

.box {
    background-color: rgba(255, 255, 255, 0.7);
    width: 65vw;
    border-radius: 2%;
    margin: auto;
}

.box h1 {
    color: #2A7C6F;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2rem;
}

.box h2 {
    color: #2A7C6F;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    padding-top: 2.5rem;
}

.fbox {
    justify-content: space-around;
    text-align: center;
    color: #2A7C6F;
    padding: 5rem 0;
}

.fbox h1 span {
    font-weight: 700;
}

.book {
    padding-bottom: 2rem;
    position: relative;
    left: 40%;
}

.book a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    background-color: #2A7C6F;
}

.book a:hover {
    color: #2A7C6F;
    background-color: #fff;
    border: 1px solid #2A7C6F;
}

.sixth .top {
    background-image: url(img/top/top3.png);
    background-size: cover;
    height: 12rem;
}

.f3 {
    background-color: #2A7C6F;
    padding-top: 5rem;
}

.sixth h1 {
    color: #2A7C6F;
    -webkit-text-stroke: 2px #fff;
}

.contact1 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
    margin-top: 5rem;
}

.contact2 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
    margin-top: 3rem;
}

.contact3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 5rem;
}

.contact3 a {
    color: #fff;
    text-decoration: none;
}

.contact3 a:hover {
    color: #fff;
}


.f4 {
    padding: 2rem;
    margin: 0 2rem;
}

.f4 label {
    color: #2A7C6F;
    padding-bottom: 0.2rem;
}

textarea {
    border: 2px solid #ccc !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

textarea:focus {
    border: 2px solid #2A7C6F !important;
    box-shadow: none !important;
}

input[type=text] {
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    box-shadow: none !important;
}

input[type=text]:focus {
    border: 2px solid #2A7C6F;
}

input[type=email] {
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    box-shadow: none !important;
}

input[type=email]:focus {
    border: 2px solid #2A7C6F;
}

.btn1 {
    margin-top: 2rem;
}

.send {
    padding: 0 1rem;
    color: #fff;
    background-color: #2A7C6F;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.send:hover {
    color: #2A7C6F;
    background-color: #fff;
    border: 1px solid #2A7C6F;
}

.form-group {
    padding: 0.2rem;
}

.qna h1 {
    color: #fff;
    -webkit-text-stroke: 2px #2A7C6F;
}

.q-b {
    padding: 2rem;
}

details {
    padding: 0.5rem 0;
    background-color: #CFE0DC;
    margin: 1rem 0;
    border-radius: 2rem;
}

details summary {
    cursor: pointer;
    padding: 0.5rem;
    color: #2A7C6F;
    padding-left: 2rem;
}

details summary>* {
    display: inline;
}

.q-p {
    padding: 0.5rem 2rem;
    color: #2A7C6F;
    font-size: 1.2rem;
    text-align: justify;
}

.bottom {
    background-image: url(img/top/4.png);
    background-size: cover;
    height: 27vh;
}

.blue {
    height: 10vh;
    background-color: #CFE0DC;
}

.manali1 {
    background-image: url(img/bg/manali.jpg);
    background-size: cover;
}

.kerela1 {
    background-image: url(img/bg/kerela.jpg);
    background-size: cover;
}

.goa1 {
    background-image: url(img/bg/goa.jpg);
    background-size: cover;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-bar {
    background-color: #2A7C6F;
}

.nav-bar h1 {
    color: #2A7C6F;
    -webkit-text-stroke: 2px #fff;
    padding: 0 1rem;
}

.nav-bar a {
    color: #2A7C6F;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1rem;
    border: 2px solid #2A7C6F;
}

.nav-bar a:hover {
    color: #fff;
    background-color: #2A7C6F;
    border: 2px solid #fff;
}

.con-m {
    height: 40rem;
    width: 25rem;
    padding: 2rem;
    padding-top: 0;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.m-contact {
    padding: 5rem 0 2rem 0;
    position: relative;
    left: 35%;
}

.m-contact a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    background-color: #2A7C6F;
}

.m-contact a:hover {
    color: #2A7C6F;
    background-color: #fff;
    border: 1px solid #2A7C6F;
}

.m-box {
    background-color: rgba(255, 255, 255, 0.8);
    width: 40vw;
    border-radius: 2%;
    margin: auto;
    padding: 2rem;
}

.m-box h1 {
    color: #2A7C6F;
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
}

.m-box h2 {
    color: #2A7C6F;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding-top: 3rem;
}

.manali2 {
    margin: 4rem;
}

.manali3 {
    margin: 4rem;
}

.img-c {
    border-radius: 1rem;
    transition: transform 1s, filter 3s ease-in;
}

.img-b {
    margin: 2rem;
}

.img-b:hover img {
    transform: scale(1.1);
}

.info-b {
    margin: 2rem;
    text-align: justify;
    color: #2A7C6F;
    font-weight: 500;
}

.info-span {
    font-size: 29px;
    color: #fff;
    -webkit-text-stroke: 2px #2A7C6F;
    margin: 2rem;
}

.title3 {
    padding: 10rem 0;
}

.title3 h1 {
    color: #fff;
    -webkit-text-stroke: 2px #2A7C6F;
    font-size: 3rem;
}

.title3 h2 {
    color: #2A7C6F;
    font-size: 3.5rem;
    padding-top: 2rem;
}
.mobile{
    display: none;
}

@media only screen and (max-width: 992px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}