<!-- Footer area start -->
<footer class="footer__area" data-scroll-section>
    <div class="footer__top">
        <div class="container footer-line"></div>
        <img src="assets/imgs/thumb/footer.jpg" alt="Footer Image" data-speed="0.5">
    </div>

    <div class="footer__btm">
        <div class="container">
            <div class="row footer__row">
                <div class="col-xxl-12">
                    <div class="footer__inner">
                        <div class="footer__widget">
                            <img class="footer__logo" src="assets/imgs/logo/logo.png" alt="Footer Logo">
                            <p>Qurikvoy is your affordable option for Industrial visit cum Tour, also Qurikvoy is a
                                faboulous digital agency with expert employees.
                            </p>
                            <ul class="footer__social">
                                <li><a href="#"><span><i class="fa-brands fa-linkedin"></i></span></a></li>
                                <li><a href="#"><span><i class="fa-brands fa-instagram"></i></span></a></li>
                                <li><a href="#"><span><i class="fa-brands fa-facebook-f"></i></span></a></li>
                            </ul>
                        </div>

                        <div class="footer__widget-2">
                            <h2 class="footer__widget-title">Pages</h2>
                            <ul class="footer__link">
                                <li><a href="index.php">Home</a></li>
                                <li><a href="about.php">About Us</a></li>
                                <li><a href="portfolio.php">Portfoliio</a></li>
                                <li><a href="contact.php">contact</a></li>
                                <li><a href="career.php">Career</a></li>
                            </ul>
                        </div>

                        <div class="footer__widget-2">
                            <h2 class="footer__widget-title">Services</h2>
                            <ul class="footer__link">
                                <li><a href="#">Educational Visit</a></li>
                                <li><a href="#">Website Development</a></li>
                                <li><a href="#">Application Development</a></li>
                                <li><a href="#">Content Writing</a></li>
                                <li><a href="#">Graphic Designing</a></li>
                                <li><a href="#">Digital Marketing</a></li>
                            </ul>
                        </div>

                        <div class="footer__widget-4">
                            <h2 class="project-title">Have a project in your mind?</h2>
                            <div class="btn_wrapper">
                                <a href="contact.html" class="wc-btn-light btn-item btn-hover"><span></span> Share
                                    With
                                    us <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                            <ul class="footer__contact">
                                <li><a style="color: #fff;" href="tel:917877568379">+(91) 7877568379</a></li>
                                <li><a style="color: #fff;" href="tel:919828250462">+(91) 9828250462</a></li>
                                <li><a style="color: #fff;" href="mailto:kunal.qurikvoy@gmail.com">kunal.qurikvoy@gamil.com</a></li>
                                <li><a style="color: #fff;" href="mailto:rohan.qurikvoy@gmail.com">rohan.qurikvoy@gamil.com</a></li>
                                <li style="color: #fff;">230 Norman Street New York, QC (USA) H8R 1A1</li>
                            </ul>
                        </div>

                        <div class="footer__copyright">
                            <p>© 2024 - 2027 | Alrights reserved by <a href="index.php" target="_blank">Qurikvoy
                                    Services Pvt. Ltd.</a>
                            </p>
                        </div>

                        <div class="footer__subscribe">
                            <form action="#">
                                <input type="email" name="email" placeholder="Enter your email">
                                <button type="submit" class="subs-btn"><i class="fa-solid fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer area end -->