<!-- Header area start -->
<header class="header__area-3">
    <div class="header__inner-3">
        <div class="header__logo-2">
            <a href="index.php" class="logo-dark"><img src="assets/imgs/logo/logo.png" alt="Site Logo"></a>
            <a href="index.php" class="logo-light"><img src="assets/imgs/logo/logo.png"
                    alt="Site Logo"></a>
        </div>
        <div class="header__nav-2">
            <ul class="main-menu-3 menu-anim">
                <li class="has-megamenu"><a href="index.php">Home</a></li>

                <li class="has-megamenu"><a href="about.php">About</a></li>

                <li><a class="has-megamenu">Services</a>
                    <ul class="main-dropdown">
                        <li><a href="#">Educational Tour</a></li>
                        <li><a href="#">Website Development</a></li>
                        <li><a href="#">Application Development</a></li>
                        <li><a href="#">Content Writing</a></li>
                        <li><a href="#">Graphic Designing</a></li>
                        <li><a href="#">Digital Marketing</a></li>
                    </ul>
                </li>

                <li><a href="portfolio.php">Portfolio</a></li>

                <li><a href="contact.php">Contact</a></li>

            </ul>
        </div>
        <div class="header__nav-icon-3">
            <button id="open_offcanvas"><img src="assets/imgs/icon/menu-black.png" alt="Menubar Icon"></button>
        </div>
    </div>
</header>
<!-- Header area end -->


<!-- Offcanvas area start -->
<div class="offcanvas__area">
    <div class="offcanvas__body">
        <div class="offcanvas__left">
            <div class="offcanvas__logo">
                <a href="index.php"><img src="assets/imgs/logo/logo.png" alt="Offcanvas Logo"></a>
            </div>
            <div class="offcanvas__social">
                <h3 class="social-title">Follow Us</h3>
                <ul>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
            <div class="offcanvas__links">
                <ul>
                    <li><a href="about.php">About</a></li>
                    <li><a href="contact.php">contact</a></li>
                    <li><a href="career.html">Career</a></li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__mid">
            <div class="offcanvas__menu-wrapper">
                <nav class="offcanvas__menu">
                    <ul class="menu-anim">
                        <li><a href="index.php">Home</a></li>

                        <li><a href="about.php">About</a></li>

                        <li><a>Service</a>
                            <ul>
                                <li><a href="#">Educational Tour</a></li>
                                <li><a href="#">Website Development</a></li>
                                <li><a href="#">Application Development</a></li>
                                <li><a href="#">Content Writing</a></li>
                                <li><a href="#">Graphic Designing</a></li>
                                <li><a href="#">Digital Marketing</a></li>
                            </ul>
                        </li>

                        <li><a href="portfolio.php">Portfolio</a></li>

                        <li><a href="contact.php">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="offcanvas__right">
            <div class="offcanvas__search">
                <div class="offcanvas__contact">
                    <h3>Get in touch</h3>
                    <ul>
                        <li><a href="tel:917877568379">+(91) 7877568379</a></li>
                        <li><a href="tel:919828250462">+(91) 9828250462</a></li>
                        <li><a href="mailto:kunal.qurikvoy@gmail.com">kunal.qurikvoy@gamil.com</a></li>
                        <li><a href="mailto:rohan.qurikvoy@gmail.com">rohan.qurikvoy@gamil.com</a></li>
                        <li>230 Norman Street New York, QC (USA) H8R 1A1</li>
                    </ul>
                </div>
            </div>
            <img src="assets/imgs/shape/11.png" alt="shape" class="shape-1">
            <img src="assets/imgs/shape/12.png" alt="shape" class="shape-2">
        </div>
        <div class="offcanvas__close">
            <button type="button" id="close_offcanvas"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
</div>
<!-- Offcanvas area end -->